.hero-orange-color {
    color: var(--orange-color);

}

.hero-section {
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assests/LaptopScreens/OfficeImage.jpg);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    padding: 1em;
    height: 80%;
    margin: 0  auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 80vh;
}


.hero-section h1 {
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 400;
}

.hero-section p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}


@media (min-width:768px) {

    .hero-section h1 {
        font-size: 64px;
        line-height: 72px;
        font-weight: 700;
    }

    .hero-section p {
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
        margin-top: 8px;    
    }

}