.orange {
  color: #01f7ff;
}

.form-container {
  max-width: 700px;
  margin: auto;
  background-color: #001925;
  padding: 30px;
  border-left: 5px solid #01ccff;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.heading {
  display: block;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-container .form .input {
  color: #87a4b6;
  width: 100%;
  background-color: #002733;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}

.form-container .form .input:focus {
  border-left: 5px solid #01a2ff;
}

.form-container .form .textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #013747;
  color: #01d0ff;
  font-weight: bold;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .textarea:focus {
  border-left: 5px solid #08e7f3;
}

.form-container .form .button-container {
  display: flex;
  gap: 10px;
}

.form-container .form .button-container .send-button {
  flex-basis: 70%;
  background: #0ae6f1;
  padding: 10px;
  color: #001925;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .send-button:hover {
  background: transparent;
  border: 1px solid #0dedd6;
  color: #19c7ef;
}

.form-container .form .button-container .reset-button-container {
  filter: drop-shadow(1px 1px 0px #09ecd9);
  flex-basis: 30%;
}

.form-container .form .button-container .reset-button-container .reset-button {
  position: relative;
  text-align: center;
  padding: 10px;
  color: #1cd5f6;
  font-weight: bold;
  background: #001925;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .reset-button-container .reset-button:hover {
  background: #10d8eb;
  color: #001925;
}

/* Mobile-first default styles */
.contact-us {
  padding: 15px;
  text-align: center;
}

.contact-us-heading {
  margin-bottom: 15px;
  color: var(--title-color);
  font-size: 51px;
  line-height: 76.5px;
  text-align: left;
  font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 600;
}

.contact-us-info {
  margin-bottom: 15px;
}

.contact-us-info p {
  margin: 5px 0;
}

.contact-us-form-group {
  margin-bottom: 10px;
}

.contact-us-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-us-form-group input,
.contact-us-form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-us-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.contact-us-button:hover {
  background-color: #0056b3;
}

/* TYPE WRITER ANIMATION */
.contact-us-text-animation {
  font-family: monospace;
  font-weight: 700;
  font-size: 50px;
  padding: 20px;
  background: white;
  color: black;
}

.contact-us-heading {
  color: #0000;
  background:
    linear-gradient(-90deg, black 5px, #0000 0) 10px 0,
    linear-gradient(black 0 0) 0 0;
  background-size: calc(var(--n) * 1ch) 200%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  background-repeat: no-repeat;
  animation:
    b .7s infinite steps(1),
    t calc(var(--n) * .3s) steps(var(--n)) forwards;
}

@keyframes t {
  from {
    background-size: 0 200%;
  }
}

@keyframes b {
  50% {
    background-position: 0 -100%, 0 0;
  }
}

.contact-us-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contact-us-card-container {
    display: flex;
    flex-direction: column;
}

.contact-us-card {
  width: 100%;
  background-color: #215070;
  display: table;
  width: 100%;
  height: 132px;
  color: #3498db;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 3px;
}

.contact-us-card .icon {
  width: 18px;
  height: 100%;
  display: table-cell;
  position: relative;
  background-color: currentColor;
}

.contact-us-card .icon:after {
  content: '';
  height: 100%;
  width: 0;
  position: absolute;
  right: -90px;
  top: 0;
  border-right: 90px solid transparent;
  border-left: 0px;
  border-bottom: 272px solid currentColor;
}

.contact-us-card .icon img {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
  font-size: 28px;
  z-index: 1;
}

.contact-us-card .content-wrap {
  padding: 10px;
  padding-left: 62px;
  display: table-cell;
  vertical-align: middle;
}

.contact-us-card .content-wrap .item-title {
  display: inline-block;
  font-size: 16px;
  color: #a3baca;
  margin-bottom: 3px;
}

.contact-us-card .content-wrap .text {
  color: #fff;
  font-size: 15px;
}



.contact-us-cell {
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

.contact-us-form label {
  text-align: left;
  margin-left: 8px;
}

/* PC screen styles */
@media (min-width: 768px) {
  .contact-us {
    width: 80%;
    max-width: 1056px;
    padding: 20px;
    margin: 0 auto;
  }

  .contact-us-desktop-img-container {
    width: 90%;
    height: 40%;
    margin: 0 auto;
  }

  .contact-us-desktop-img {
    width: 100%;
    height: 40%;
    object-fit: cover;
  }

  .contact-us-heading {
    font-size: 6rem;
    margin-bottom: 4rem;
  }

  .contact-us-card .icon {
    width: 48px;
  }

  .contact-us-info-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .contact-us-info,
  .contact-us-form {
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #f9f9f9;
  }


  .contact-us-info p {
    margin: 10px 0;
  }

  .contact-us-cell,
  .contact-us-email {
    margin-top: 18px;
  }


  .contact-us-form-group {
    margin-bottom: 15px;
  }

  .contact-us-form-group input,
  .contact-us-form-group textarea {
    padding: 10px;
  }

  .contact-us-form label {
    text-align: left;
    margin-left: 8px;
  }

  .contact-us-button {
    padding: 12px;
  }


  .contact-us-text-animation { 
    font-size: 5rem;
    font-weight: 800;
  }
}