.our-services {
    width: 80%;
    margin: 2px solid red;
    margin: 0 auto;
    margin-top: 40px;
}

.our-services h2 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 16.41px;
    text-align: center;
}

.card1 {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* border: 1px solid black; */
    border-radius: 8px;
    box-shadow: 6px 6px 3px #bebebe, 10px 10px 30px #f3e7e7;
    margin-top: 1.3rem;
  }
  
 .car1_innerConrainer{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items horizontally */
    text-align: center;
 }
  .card1 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card1:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .card1:hover .card__content1 {
    transform: rotateX(0deg);
  }
  
  .card__title1 {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card1:hover svg {
    scale: 0;
  }
  
  .card__description1 {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }

.our-services-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card-logo-bg-color);
    border: 2px solid red;
    padding: 35px 8px;
    background-color: var(--card-logo-bg-color);
}


@media (min-width: 768px) {

    .our-services {
        width: 80%;
        max-width: 1056px;
        margin-top: 56px;
    }

    .our-services h2 {
        margin-bottom: 40px;
        font-size: 48px;
        font-weight: 600;
        line-height: 56px;
    }

    .our-services-container
    {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        justify-content: center;
    }

    .our-services-top-container {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
    }

    .our-services-bottom-container {
        display: flex;
        gap: 3rem;

    }

    .card1 {
        width: 300px;  
        height: 200px;
        margin-top: 0;
      }

}

.link-to-service-btn {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    border: none;
    border-radius: 16px; 
   }
  
  .link-to-service-btn:active {
    transform: scale(0.9);
  }
