.card1 {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* border: 1px solid black; */
    border-radius: 8px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #f3e7e7;
  }
  
 .car1_innerConrainer{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items horizontally */
    text-align: center;
 }
  .card1 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card1:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .card1:hover .card__content1 {
    transform: rotateX(0deg);
  }
  
  .card__title1 {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card1:hover svg {
    scale: 0;
  }
  
  .card__description1 {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  
.our-services {
    width: 80%;
    margin: 0 auto;
    margin-top: 34px;
}

.our-services h2 {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: center;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--card-bg-color);
    border-radius: 8px;
    /* box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff; */
    box-shadow: 20px 5px 20px #bebebe, -20px -20px 60px #ffffff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.card:hover {
    transform: scale(1.05); /* Scale up the card by 5% on hover */
}
.card img {
    display: block;
    margin: 0 auto;
    height: auto;
    border-radius: 8px;
}

.card h3 {
    font-size: 1.2em;
    margin-bottom: 16px;
    margin-top: 16px;
}

.card p {
    color: var(--text-color);
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;

}

/* .card button {
    padding: 10px 20px;
    background-color: var(--light-blue-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: var(--dark-blue-color);
} */

.our-services-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 768px) {

    .our-services {
        width: 80%;
        max-width: 1056px;
        margin-top: 56px;
    }

    .our-services h2 {
        margin-bottom: 40px;
        font-size: 48px;
        font-weight: 600;
        line-height: 56px;
    }

    .our-services-container
    {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        justify-content: center;
    }

    .our-services-top-container {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
    }

    .our-services-bottom-container {
        display: flex;
        gap: 3rem;

    }

    .card {
        width: 30%;
        max-width: 320px;
    }

    .card h3 {
        font-size: 1.2em;
        margin-bottom: 28px;
        margin-top: 28px;
    }

    .card p {
        font-size: 19px;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
    }


    .last-card {
        /* margin-right: 139.5%; */
        margin-left: 114px;

    }

}

button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    /* color: #725AC1; */
    /* border: 2px solid #725AC1; */
    /* border-radius: 10px; */
    color: var(--white-color);
    background: transparent;
    background-color: var(--button-blue-color);
    cursor: pointer;
    transition: ease-out 0.5s;
    border: none;
    border-radius: 16px;
    box-shadow: inset 0 0 0 0 #725AC1;
  }
  
  button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
  }
  
  button:active {
    transform: scale(0.9);
  }