/* OurServiceHeroSection.css */

.our-service-hero-section {
    margin: 0 auto;
    /* padding: 20px; */
    text-align: center;
    background-color: var(--light-grey-color);
}

.our-service-hero-section-breadcrumb {
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}

.our-service-hero-section-breadcrumb a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 33.36px;
    text-align: left;

}

.our-service-hero-section-breadcrumb span {
    color: #333;
}

.our-service-hero-section-title {
    margin: 20px 0;

    color: #333;
    font-size: 24px;
    font-weight: 500;
    line-height: 56px;
    text-align: center;

}

.our-service-hero-section-info {
    margin: 20px 0;
    font-size: 18px;
    color: #666;
}

.our-service-hero-section-scrolling-links {
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    width: 100%;
    position: relative;
    white-space: nowrap;
    color: var(--white-color);
    background-color: var(--dark-blue-color);
}

.our-service-hero-section-links {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 15s linear infinite;
    color: var(--white-color); 
}

.our-service-hero-section-links a {
    display: inline-block;
    margin-right: 20px;
    text-decoration: dotted;
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    color: var(--white-color);
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (min-width: 768px) {



    .our-service-hero-section-title {
        font-size: 36px;
        font-size: 48px;
        font-weight: 600;
        line-height: 56px;
        text-align: center;
    }


    .our-service-hero-section-links a {
        display: inline-block;
        margin-right: 20px;
        text-decoration: dotted;
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
        text-align: left;
        
    }

}