.about-us {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 33px;
}

.light-blue-color {
    color: var(--light-blue-color);
}

.about-us h2 {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: center;
}

.about-us p {
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: center;

}

@media (min-width: 768px) {

    .about-us {
        width: 80%;
        max-width: 1056px;
        margin-top: 64px;
    }

    .about-us h2 {
        margin-bottom: 40px;
        font-size: 48px;
        font-weight: 600;
        line-height: 56px;
    }

    .about-us p {
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
    }
    
    
    .about-us span {
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
    
    }
}