.OurServiceComponent1-container  {
    width:80%;
    margin: 20px auto 0;
}

.OurServiceComponent1-img {
    display :inline-block;
    width: 100%;
}


.OurServiceComponent1-text h3 {
font-size: 29px;
font-weight: 500;
line-height: 20px;
text-align: left;
}

.OurServiceComponent1-text p {
font-size: 16px;
font-weight: 400;
line-height: 19px;
text-align: left;
margin-top: 16px;
}

.OurServiceComponent1-button-container{
    gap: 2px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
    margin-top: 20px;
}


.service-btn {
font-size: 14px;
font-weight: 400;
line-height: 20px;
border-radius:12px;
border: none;
transition: background-color 0.3s ease;
padding: 8px 12px 8px 12px;
background-color: white;
border: 2px solid #EAB308;
color: black;
}
 
.service-btn:hover {
    background-color: white;
    box-shadow: none;
}

@media (min-width: 768px) { 

    .OurServiceComponent1-container  {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        max-width: 1056px;
        margin-top: 50px;
        padding-top: 40px;
    }

    
    .reverse-container {
        flex-direction: row-reverse;
    }

    .OurServiceComponent1-img {
        max-width: 448px;
        height: 376px;
    }

    .OurServiceComponent1-text {
        margin-left: 32px;
    }

    .reverse-container-text {
        margin-left: 0;
        margin-right: 32px;
    }

    .OurServiceComponent1-button-container {
        margin-top: 41px;
        grid-template-columns: repeat(3, 1fr);
    }


    .service-btn {
        /* padding: 8px 16px 8px 16px; */
        height: 50px;
    }
}
