.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--navbar-color);
}

.navbar-logo img {
  width: 50px; 
}

.navbar-links {
  display: none;
}

.navbar-links ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.navbar-links li {
  margin-bottom: 1rem;
}

.navbar-links li a {
  color: var(--link-color);
  text-decoration: none;
}

.navbar-links li a:hover, .navbar-links li a.active {
  color: var(--link-hover-color);
  text-decoration: underline 3px;
  text-underline-offset: 4px;
  text-decoration-color: var(--navar-link-hover-underline-color);
}

.hamburger {
  font-size: 30px;
  display: flex;
  cursor: pointer;
}

.navbar-toggle {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  transition: all 0.3s ease-in;
  top: 52px;
  left: 0;
  width: 100%;
  gap: 24px;
  background-color: var(--navbar-toggle-color);
}

.navbar-div {
  display: flex;
  padding: 4px 0;
}


@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .navbar-links {
    display: flex;
    flex-direction: row;
  }

  .navbar-links ul {
    flex-direction: row;
  }

  .navbar-links li {
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .navbar-links.active {
    display: block;
  }
}
