.about-us-text-container .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 24px;
    line-height: 1;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 36px;
    border-radius: 22px;
    color: var(--home-page-card-text-color);
    background: var(--about-page-card-color);
    overflow: hidden;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);   
     width: 350px;

  }
  
  .content::before {
    position: absolute;
    content: "";
    top: -4%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%);
    background: #ced8ff;
    z-index: -1;
    transform-origin: bottom;
  
    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content::after {
    position: absolute;
    content: "";
    top: -8%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%);
    background: #e7ecff;
    z-index: -2;
    transform-origin: bottom;
    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content svg {
    width: 48px;
    height: 48px;
  }
  
  .content .para {
    z-index: 1;
    opacity: 1;
    font-size: 18px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content .link {
    z-index: 1;
    color: #fea000;
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content .link:hover {
    text-decoration: underline;
  }
  
  .card:hover {
    transform: translate(0px, -16px);
  }
  
  .card:hover .content::before {
    rotate: -8deg;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .card:hover .content::after {
    rotate: 8deg;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
.about-us-page {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.about-us-page header {
    text-align: center;
    margin-bottom: 40px;
}

.about-us-page header h1 {
    font-size: 2.5em;
    color: #333;
}

.about-us-page header p {
    font-size: 1.2em;
    color: #666;
}

.about-us-why-choose-us, .our-promise {
    margin-bottom: 40px;
}

.about-us-page h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.about-us-page ul {
    list-style-type: none;
    padding: 0;
}

.about-us-page ul li {
    margin-bottom: 10px;
}

.about-us-page ul li strong {
    color: var(--link-color);
}


.about-us-card {
    width: 100%;
    background-color: var(--why-choose-us-card-color);
    display: table;
    color: #3498db;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 3px;
    border-radius: 14px;
  }
  .about-us-card:hover {
    transform: scale(1.01); /* Scale up the card by 5% on hover */
}
  
  .about-us-card .content-wrap {
    padding: 20px;
  }
  
  
  .about-us-card .content-wrap .item-title {
    display: inline-block;
    font-size: 24px;
    margin-bottom: 3px;
  }
  
  .about-us-card .content-wrap .text {
    font-size: 16px;
  }
  
.about-us-page button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  margin: auto;
  margin-top: 2rem;
  color: var(--white-color);
  background: transparent;
  color: var(--button-text-color);
  background-color: var(--button-color);
}

button:hover {
    background-color: var(--button-hover-color);
}


@media (min-width: 768px) { 

    .about-us-page {
            width: 90%;
            max-width: 1056px;
            margin: 0 auto;
            margin-bottom: 2rem;
    }



    .abous-us-hero-section {
        display: flex;
        justify-content: space-between;

    }

    .abous-us-hero-section-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  

    .header p, .header h1{
        text-align: left;
        
    }
    .header h1 {
        margin-bottom: 2rem;
        text-align: left;
        width: 100%;
    }


    .about-us-card .content-wrap {
        padding: 20px;
        padding-left: 62px;
        padding-top: 20px;
      }

    .about-us-text-container {
        display: flex;
        justify-content: space-between;
        height: 500px;
        margin-top: 75px;
    }

    .about-us-text-container .our-promise,
    .about-us-text-container .future-together {
        flex: 1;
        background-color: var(--card-bg-color);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 14px;
        padding: 20px;
    }

.our-promise {
        align-self: flex-start; 
        box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
        border-radius: 14px;

    }
    
    .future-together {
        margin-left: 2rem;
        align-self: flex-end; 
    } 


    

}
