.company-logo{
  width: 100px;
  height: 80px;
  margin: auto;
}
.mobilefooter {
  margin-top: 2rem;
    background-color: var(--light-blue-color);
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .mobilefooter-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .mobilefooter-quick-links,
  .mobilefooter-sitemap {
    margin-bottom: 20px;
  }
  
  .mobilefooter-quick-links h3,
  .mobilefooter-sitemap h3 {
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 700;
    line-height: 34.5px;
    text-align: left;
    color: var(--body-color);
  }
  
  .mobilefooter-quick-links ul,
  .mobilefooter-sitemap ul {
    list-style-type: none;
    padding: 0;
  }
  
  .mobilefooter-quick-links li,
  .mobilefooter-sitemap li {
     margin-bottom: 5px;
     cursor: pointer;
     color: var(--body-color);
     font-size: 17px;
     font-weight: 500;
     line-height: 25.5px;

  }
  
  .mobilefooter-quick-links li:hover,
  .mobilefooter-sitemap li:hover {
    text-decoration: underline;
  }
  
  .mobilefooter-logos {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }

  .mobilefooter-copyright {
font-size: 14px;
font-weight: 400;
line-height: 16px;
color: var(--body-color);
  }